<h1>ケア情報を新規登録</h1>
<%= form_with model: @care_info, local: true do |form| %>
  <%= form.hidden_field :bedsore_part_id, :value => @care_info.bedsore_part.id %>
  <%= render :partial => 'form', :locals => {:form => form, :care_info => @care_info} %>
  <%= form.submit "登録", class: "btn btn-primary" %>
<% end %>