<h1>看護システム</h1>
<p><%= link_to("療養者一覧", "/patients") %></p>
<p><%= link_to("看護師一覧", "/nurses") %></p>
<p><%= link_to("除圧用具一覧", "/depressure_tools") %></p>
<p><%= link_to("ケア物品一覧", "/care_tools") %></p>
