<h3>療養者一覧</h3>
<div class="mt-1 mb-2">
  <%= link_to("療養者新規登録", "/patients/new", class: "btn btn-primary") %>
</div>
<div class="list-group">
  <% @patients.each do |patient| %>
    <%= link_to(patient.name, "/patients/#{patient.id}", class:"list-group-item list-group-item-action") %>
  <% end %>
</div>