<h1>Patients#index</h1>
<p>Find me in app/views/patients/index.html.erb</p>
<% @patients.each do |patient| %>
  <div class="posts-index-item">
    <!-- post.contentを使って書き換えてください -->
    <%= patient.name %>
  </div>
<% end %>