<h1>療養者詳細</h1>
<div class="posts-index-item">
    <p>名前:<%= @patient.name %></p>
    <p>名前（かな）:<%= @patient.name_kana %></p>
    <p>年齢:<%= @patient.age %></p>
    <p>性別:<%= @patient.sex %></p>
</div>
