<h3>看護師一覧</h3>
<%= link_to("看護師新規登録", "/nurses/new", class: "waves-effect waves-light btn") %>
<ul class="collection">
  <% @nurses.each do |nurse| %>
    <li class="collection-item"><%= link_to(nurse.name, "/nurses/#{nurse.id}") %></li>
  <% end %>
</ul>