<h3>ケア物品一覧</h3>
<div class="mt-1 mb-2">
  <%= link_to("ケア物品登録", "/care_tools/new", class: "btn btn-primary") %>
</div>
<div class="list-group">
  <% @tools.each do |tool| %>
    <div class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to(tool.name, "/care_tools/#{tool.id}") %>
      <div class="">
        <%= link_to("編集", "/care_tools/#{tool.id}/edit", class:"btn btn-primary btn-sm") %>
        <%= link_to("削除", "/care_tools/#{tool.id}", method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn btn-danger btn-sm") %>
      </div>
    </div>
  <% end %>
</div>